<footer class="py-1 bg-dark position-absolute bottom-0 end-0 container-fluid">
  <p class="mx-auto text-center text-light fs-6 mt-3">Created by <a class="text-warning" href="https://xnaufallnr.vercel.app/">Naufal Nabil Ramadhan</a></p>
</footer>
